:root {
  --color-primary: #424242; /* verde */
  --color-secondary: #746363; /* amarillo */
  --color-accent: #2a5c9a;
  --color-light: #f8f9fa;
  --color-dark: #212529;
  --color-gray: #6c757d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.5em;
  justify-content: center;
  align-items: center;
}

.p-4 {
  padding: 1em;
}

.p-8 {
  padding: 2em;
}

.flex-container-grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.title {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
}

.title-main,
.title-highlight {
  font-size: 40px;
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 400;
  line-height: 50px;
  word-wrap: break-word;
}

.title-main {
  color: black;
}

.title-highlight {
  color: #f4b860;
}
