<link rel="stylesheet" href="form.css">

<div class="main">
    <div class="university-header">
        <h1>Uleam</h1>
        <h2>UNIVERSIDAD LAICA ELOY ALFARO DE MANABÍ</h2>
        <div class="session-message">
            Incresa tus credenciales para acceder a tu sesión.s
        </div>
    </div>

    <div class="form-card">
        <h4 class="title">Login</h4>
        <form action="" id="form-login">

            <div class="input-container">
            </div>

            <input type="submit" value="Login" class="btn">
        </form>
    </div>
</div>

<script type="module" src="components/form-login/form-login.js"></script>