<style>
    .asistencias-container {
        width: 200px;
        height: 32px;
        position: relative;
        overflow: hidden;
    }

    .asistencias-icon-bg {
        width: 30.01px;
        height: 31.6px;
        position: absolute;
        left: 0;
        top: 0;
        background: #f8d57e;
        border-radius: 50%;
    }

    .asistencias-icon-line {
        width: 1.55px;
        height: 7.74px;
        position: absolute;
        left: 14.25px;
        top: 12.28px;
        outline: 2.32px white solid;
        outline-offset: -1.16px;
    }

    .asistencias-text {
        position: absolute;
        left: 43.33px;
        top: 2.74px;
        color: black;
        font-size: 20.12px;
        font-family: 'Gilroy-Bold', sans-serif;
        font-weight: 400;
        line-height: 20.12px;
        word-wrap: break-word;
    }
</style>

<div class="asistencias-container">
    <div class="asistencias-icon-bg"></div>
    <div class="asistencias-icon-line"></div>
    <div class="asistencias-text">Asistencias</div>
</div>