<link rel="stylesheet" href="components/add-asistencia/add-asistencia.css">


<div class="add_container-div">
    <header class="header-div">
        <h1 >
            <div class="title" >
                <span style="font-size: .9em;" class="title-main">Asistencias</span>
                <span style="font-size: .9em;" class="title-highlight"> / Salida</span>
            </div>
        </h1>


    </header>
    <button class="icon-btn add-btn" id="add-btn-txt">
        <div class="add-icon"></div>
        <div class="btn-txt">Agregar asistencia / salida</div>
    </button>
</div>

<script type="module" src="components/add-asistencia/add-asistencia.js"></script>